.containerSearch {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("../../../../public/searchbg.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.cardContainerSearch {
  border: 2px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
